
//
//	Modules / Context
//


.page-context {
	width: 100%; height: 0;
	position: fixed; top: 0; left: 0; z-index: 100;
	overflow: hidden;

	.-is-context-open & {
		height: 100vh;
		overflow: auto;
	}

	.context-actions {
		width: 100%;
		position: absolute; top: lines(1.5); left: 0; z-index: 50;
		text-align: center;
		display: none;
		transition: transform 0.5s;
		will-change: transform;

		.-is-context-open & {
			display: inline-block;
		}

		.ui-btn {
			padding-right: lines(3);
			position: relative;

			&:hover {
				.close-icon {
					fill: $COLOR_BRAND_BASE;
				}
			}
		}

		.close-icon {
			width: em(11); height: em(11);
			padding: em(9);
			position: absolute; top: 0; right: em(20);
			display: block;

			fill: $COLOR_WHITE;
		}
	}

	.context-viewport {
		width: 100%; height: 100vh;
		padding: 0; box-sizing: border-box;
		position: absolute; top: 0; left: 0; z-index: 10;
		overflow: auto;
		display: table;
	}

		.context {
			padding: lines(3) 0; 
			// width: 100%;
			display: table-cell; vertical-align: middle;
			position: relative; top: 0; left: 0;
			box-sizing: border-box;
			// transform: translateY(-50%);

			.row {
				width: 100%;
			}

			fieldset {
				input,
				textarea {
					border-color: fade-out( $COLOR_GREY, 0.5 );

					&:focus {
						border-color: $COLOR_WHITE;
					}
				}
			}
		}

	
}
	.context-loader {
		.loader {
			width: cols(1); height: cols(1);
			margin: 0 auto;
			position: relative;
			border-radius: 50%;

			&:after {
				content: '';
				width: 100%; height: 100%;
				position: absolute; top: -6px; left: -6px; z-index: 0;
				border: 6px solid $COLOR_BRAND_MAIN; border-radius: 50%;
				animation: pulse 1s infinite ease-out;
			}
		}
	}

	.context-airline {
		.btn-list {
			input[type="radio"] {
				display: none;

				& + .ui-btn {
					font-family: $FONT_SECONDARY;
					cursor: pointer;
				}

				&:checked {
					& + .ui-btn {
						color: $COLOR_BRAND_BASE;
						background-color: $COLOR_BRAND_MAIN;
						border-color: $COLOR_BRAND_MAIN;
					}
				}
			}
		}

		form {
			max-height: 0;
			// visibility: hidden;
			opacity: 0;
			transition: max-height 0.5s, opacity 0.3s;	

			.input-email {
				display: none;
			}
			.input-airline {
				max-height: 0;
				padding-bottom: lines(1);
				overflow: hidden;
				opacity: 0;
				transition: max-height 0.5s, opacity 0.3s;
				transition-timing-function: ease-out;

				.message {
					width: 100%;
					position: absolute; bottom: 0; left: 0;
				}
			}
		}

		&.-is-airline-selected {
			form {
				max-height: lines(12);
				// visibility: visible;
				opacity: 1;
			}
		}
		&.-is-other-selected {
			form { 
				.input-airline {
					opacity: 1;
					max-height: lines(6);
				}
			}
		}
	}

.page-overlay {
	width: 100%; height: 150%;
	position: fixed; top: 0; left: -100%; z-index: 20;
	background-color: darken($COLOR_BRAND_BASE, 1); //-webkit-backdrop-filter: blur(10px);
	opacity: 0;
	transition: opacity $header-menu-transition, left 0s $header-menu-transition;
	transition-timing-function: $header-menu-ease;
	will-change: opacity;

	.-is-menu-open &,
	.-is-context-open & {
		left: 0;
		opacity: 0.6;
		transition-delay: 0s;
	}
	.-is-context-open & {
		opacity: 0.98;
	}
}


/*
 * 	Media Queries
 *	--------------------------------------------------
 *
 *	- Breakpoints
 *
 *	large-desktop	1920 +
 *	med-desktop 	1440 +
 *	DEFAULT 		1025...1439 (1128)
 *	tablet-wide		- 1024
 *	tablet			- 768 (fluid)
 *	smartphone-wide	- 640 (fluid)
 *	smartphone		- 480 (fluid)
 *	mobile			- 320 (fluid)
 *
 */


/*
 *	Breakpoint:	med-desktop
 *	--------------------------------------------------
 */

@include breakpoint( med-desktop ) {

	.page-context {		
		// .-is-scroll-top &,
		// .-is-menu-open & {
			.context-actions {
				transform: translate3d( 0, lines(2), 0 );
			}
		// }

		.context {
			padding: lines(6) 0; 

		}
	}

}


/*
 *	Breakpoint:	tablet
 *	--------------------------------------------------
 */

@include breakpoint(tablet) {



}


/*
 *	Breakpoint:	smartphone-wide
 *	--------------------------------------------------
 */

@include breakpoint(smartphone-wide) {

	.page-context {
		.context-actions {
			padding-top: lines(1);
			position: relative; top: 0; right: 0;
		}
		.context-viewport {
			padding: lines(3) 0;
		}
			.context {
				padding: 0 0;
				position: relative; top: 0;
				transform: none;

				h1 {
					@include font-setting-size( gamma-beta );
					letter-spacing: 6px; margin-left: 0; text-indent: 0;
				}
			}
	}
		.context-loader {
			.loader {
				position: fixed; top: 50%; left: 50%;
				transform: translate(-50%, -50%);
			}
		}

}

