
//
//	Views / Airlines
//


.view-airlines {

	section {
		
		// .row {
		// 	background-color: green;

		// 	.col {
		// 		background-color: red;
		// 	}
		// }
		.section-content {
			display: flex; align-items: center; justify-content: space-around;
		}
		.illustration {
			margin-bottom: lines(1);
			// text-align: right;
			text-align: center;

			img {
				// width: 100%;
				// max-width: 70%;
				float: right;
				display: inline-block;
			}
		}

		&:nth-child(2n) {
			.section-content {
				flex-direction: row-reverse;
			}
			.illustration img {
				float: left;
			}
		}

	}

	section.header, section.footer {
		min-height: 0; text-align: inherit;
	}

	section.intro {
		min-height: 100vh;
		text-align: left;

		.section-content {
			flex-direction: row;
		}

		h1 {
			text-indent: 0; margin-left: 0;
		}

		.intro-image {
			margin-bottom: -70%;
		}

		.bg {
			opacity: 0.75;
			background-image: url("../img/bg-airlines-intro-3.jpg");
			background-size: cover;
		}
	}

	.section-illustration {
		padding: 0;
		text-align: left;

		.section-flex {
			min-height: 85vh;
			padding: lines(3) 0;
		}
		// .container {
		// 	max-width: 80%;
		// }
			.row {
				&:after, &:before {
					display: none;
				}
			}

		.bg {
			background-size: cover;
		}
	}

	section.airlines-media {
		padding-top: lines(1); padding-bottom: lines(1);
		background-color: $COLOR_GREY_LIGHT;

		.media-gallery {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			align-items: center;
		}
			.brand-img {
				max-width: 25%;
				padding: lines(1) gutters(0.5); box-sizing: border-box;
				float: left;
				flex-shrink: 1;
			}
	}

	section.airlines-mobile {
		.bg {
			background-image: url("../img/bg-airlines-pattern.png");
			
			&:before {
				content: '';
				width: 100%; height: lines(6);
				position: absolute; top: -1px; left: 0; z-index: 10;
				background-image: linear-gradient( 0deg, transparentize( $COLOR_BRAND_BASE, 1 ), $COLOR_BRAND_BASE );
			}
		}
	}

	section.airlines-seats {

	}

	section.airlines-nextgen {
		.bg {
			background-image: url("../img/bg-airlines-pattern.png");
		}
	}

	section.airlines-findout {
		background-color: $COLOR_GREY_LIGHT;
		
		form {
			text-align: left;
			
			label .message p {
				color: currentColor;
			}

			.submit {
				float: right;
			}
		}
			fieldset {
				color: $COLOR_BRAND_BASE;

				input::placeholder {
					color: currentColor;
				}
			}
	}
}



/*
 * 	Media Queries
 *	--------------------------------------------------
 *
 *	- Breakpoints
 *
 *	large-desktop	1920 +
 *	med-desktop 	1440 +
 *	DEFAULT 		1025...1439 (1128)
 *	tablet-wide		- 1024
 *	tablet			- 768 (fluid)
 *	smartphone-wide	- 640 (fluid)
 *	smartphone		- 480 (fluid)
 *	mobile			- 320 (fluid)
 *
 */


/*
 *	Breakpoint:	tablet-wide
 *	--------------------------------------------------
 */

@include breakpoint(tablet-wide) {

	.view-airlines {
		section.intro {
			.intro-image {
				margin-bottom: 0;
			}
		}
	}

}


/*
 *	Breakpoint:	tablet
 *	--------------------------------------------------
 */

@include breakpoint(tablet) {

	.view-airlines {
		.section-illustration {
			.section-flex {
				min-height: lines(28);
			}
		}
	}

}


/*
 *	Breakpoint: smartphone-wide
 *	--------------------------------------------------
 */

@include breakpoint(smartphone-wide) {

	.view-airlines {
		section {
			.section-content {
				display: block;
			}
			.illustration {
				width: 85%;
				margin: lines(1) auto; padding-top: lines(1);
				float: none; clear: both;

				img {
					float: none;
				}
			}
		}

		section.intro {
			text-align: center;
			
			.intro-image {
				display: none;
			}
		}

		section.airlines-media {
			.brand-img {
				max-width: 50%;
			}
		}

		section.airlines-mobile,
		section.airlines-seats,
		section.airlines-nextgen {
			text-align: center;
		}

	}

}