
//
//	Views / Landing
//


.view-home {

	section.intro {
		height: 56vw; min-height: lines(30); max-height: lines(45);

		.section-flex {
			min-height: 100%;
		}

		.subscription-form {
			max-width: cols(7);
		}
	}

	.download-links {
		margin: 0 0 lines(1);
		display: flex;

		a {
			margin: 0 gutters(0.5) 0 0;
		}
	}

}

	section.landing-process {

	}
		.landing-process_device {
			position: relative;
			overflow: hidden;

			&:before {
				content: '';
				width: 100%; height: 100%;
				display: block;
				position: absolute; bottom: -50%; left: 0; z-index: 0;
				background-image: radial-gradient(50% 50%, rgba(39,41,57,0.2) 0%, rgba(39,41,57,0) 100%);
			}

			.device-outline {
				width: 100%; max-width: em(210);
				margin: 0 auto;
			}
				.device {
					width: 100%; height: 0;
					padding-bottom: 127%;
					position: relative;
					background-color: $COLOR_WHITE;
					border: 2px solid rgba(39,41,57,0.1); border-radius: 19%/16%;
					border-bottom-width: 0;
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;

					&:before {
						content: '';
						width: 20%; height: 2%;
						position: absolute; top: 9%; left: 50%;
						background-color: #e5e5e5;
						border-radius: 10px;
						transform: translateX(-50%);
					}
				}
					.device_screen {
						position: absolute; top: 20%; left: 5%; right: 5%; bottom: 0;
						background-color: $COLOR_BRAND_BASE;

						img {
							width: 100%; height: auto;
							opacity: 0.95;
						}
					}
		}
		.landing-process_features {

			.feature-icon {
				width: cols(1); height: cols(1);
				margin: 0 auto;
				display: none;
				
				svg {
					fill: $COLOR_BRAND_BLUE;
				}
			}
		}

	section.landing-travel {
		height: 56vw; min-height: lines(20); max-height: lines(30);
		padding: 0 cols(1);
		
		.travel-slider {
			width: 100%;
			padding: 0;
			position: relative;

			.ui-carousel-viewport {
				display: flex;
				overflow: visible;
			}
				.carousel-item {
					width: 100%; height: 100%;
					padding: lines(5) 0; box-sizing: border-box;

					&:after {
						content: '1';
						display: none;
					}
				}
					.container {
						height: 100%;
						display: flex; align-items: center;
					}
						.row {
							width: 100%;
						}

			.ui-carousel-points {
				position: absolute; bottom: lines(2);
			}
		}
			.travel-content {
				padding: 0 15% 0 5%;
			}
	}

	section.landing-companion {
		height: 56vw; min-height: lines(35); max-height: lines(40);
		background-image: radial-gradient(at 50% 0%, #383856 0%, #1E1F30 70%);

		.container {
			display: flex;
			flex-flow: column nowrap; justify-content: center;

			.row {
				width: 100%;
			}
		}
	}
		.landing-companion_logo {
			width: cols(1); height: cols(1);
			margin: 0 auto;

			svg {
				fill: $COLOR_BRAND_MAIN;
			}
		}
		.landing-companion_things {
			max-width: em(602);
			margin: 0 auto;
			position: relative;

			img {
				width: 100%; height: auto;
				position: absolute; top: 0; left: 0;
			}
		}

	section.landing-media {
		padding-top: lines(1.5); padding-bottom: lines(1.5);
		background-image: linear-gradient(0deg, #292458 16%, #382F8E 100%);

		.media-gallery {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			align-items: center;
		}
			.brand-img {
				max-width: 20%;
				padding: lines(1) gutters(0.5); box-sizing: border-box;
				float: left;
				flex-shrink: 1;
				opacity: 0.35;
			}
	}

	section.landing-download {
		height: 32vw; min-height: lines(10); max-height: lines(20);

		.illustration {
			img {
				margin-bottom: -50%;
			}
		}
		.bg {
			height: 130%;
			transform: translateY(-11%);

			.bg-img {
				height: 100%;
				background-image: url("../img/bg-download-city.jpg");
				background-size: cover; background-position: center center;
			}
		}
	}

	
	



html.-is-ie {
	
}


/*
 * 	Media Queries
 *	--------------------------------------------------
 *
 *	- Breakpoints
 *
 *	large-desktop	1920 +
 *	med-desktop 	1440 +
 *	DEFAULT 		1025...1439 (1128)
 *	tablet-wide		- 1024
 *	tablet			- 768 (fluid)
 *	smartphone-wide	- 640 (fluid)
 *	smartphone		- 480 (fluid)
 *	mobile			- 320 (fluid)
 *
 */
 
/*
 *	Breakpoint:	large-desktop
 *	--------------------------------------------------
 */

@include breakpoint(large-desktop) {

	

}


/*
 *	Breakpoint:	Desktop
 *	--------------------------------------------------
 */

@include breakpoint(desktop) {
	
	.landing-process_features,
	.landing-process_device {
		padding: 0 cols(1);
	}
}


/*
 *	Breakpoint:	tablet-wide
 *	--------------------------------------------------
 */

@include breakpoint(tablet-wide) {

}


/*
 *	Breakpoint:	tablet
 *	--------------------------------------------------
 */

@include breakpoint(tablet) {
	
	section.landing-process {

	}
		.landing-process_device {
			display: none;
		}
		.landing-process_features {

			.col {
				width: 100%;
			}
				.feature-icon {
					display: block;
				}
		}
}


/*
 *	Breakpoint:	smartphone-wide
 *	--------------------------------------------------
 */

@include breakpoint(smartphone-wide) {

	section.intro {
		.bg {
			background-position: 50% 50%;
		}
	}

}