<!doctype html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Seatfrog</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta property="og:title" content="Seatfrog">
		<meta property="og:site_name" content="Seatfrog">
		<meta property="og:url" content="http://www.seatfrog.com">
		<meta property="og:description" content="Bid against the other passengers on your flight for a last minute upgrade.">
		<meta property="fb:app_id" content="">
		<meta property="og:type" content="website">
		<link rel="stylesheet" href="assets/css/main.css">
		<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">
		<link rel="icon" href="/favicon.ico">
		{{!-- // <script type="text/javascript" src="https://www.google.com/jsapi"></script> --}}
	</head>
	<body class="{{#if view }} view-{{ view }}{{/if}}">
		<!--[if lt IE 8]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		{{> sprite.symbol }}
		
		<div class="outline" data-hook="app">
			
			{{> header }}

			{{#block "main"}}{{/block}}

			<footer class="outline-footer" data-region="footer"></footer>
		</div>

		<script src="assets/js/main.js"></script>

	</body>
</html>