
//
//	UI / Buttons
//


.ui-btn {
	margin: 0; padding: em(9) $GUTTER*0.75 em(11); box-sizing: border-box;
	display: inline-block; position: relative;
	color: $COLOR_BRAND_BASE; text-transform: uppercase;
	line-height: lines(1); font-weight: bold; letter-spacing: 3px;
	white-space: nowrap;
	background-color: $COLOR_BRAND_MAIN;
	border: 2px solid $COLOR_BRAND_MAIN; border-radius: lines(1.25);
	transition: background-color 0.2s, color 0.2s, border-color 0.2s, opacity 0.2s;

	.icon {
		width: lines(0.75); height: lines(0.75);
		margin: 0 em(6) 0 em(-6);
		vertical-align: top;
		display: inline-block;

		fill: currentColor;

		svg {
			display: block;
		}
	}

	&:hover {
		text-decoration: none;
		color: $COLOR_BRAND_BASE;
		background-color: $COLOR_BRAND_MAIN;
		border-color: $COLOR_BRAND_MAIN;
	}

	& + & {
		margin-left: em(12);
	}


	//	Styles	 ----------------

	&.-alt {
		color: $COLOR_BRAND_BASE;
		background-color: $BUTTON_TEXT_COLOR;
		border-color: $BUTTON_TEXT_COLOR;
		
		&:hover {
			color: $COLOR_BRAND_BASE;
			border-color: darken($BUTTON_TEXT_COLOR, 10);
			background-color: darken($BUTTON_TEXT_COLOR, 10);
		}
	}

	&.-border {
		color: $COLOR_BRAND_MAIN;
		border-color: currentColor;
		background-color: transparent;
		box-shadow: none;

		&:hover {
			background-color: $COLOR_BRAND_MAIN;
			border-color: $COLOR_BRAND_MAIN;
		}

		&.-alt {
			color: $COLOR_WHITE;
			border-color: $COLOR_BRAND_MAIN;

			&:hover {
				color: $COLOR_BRAND_BASE;
			}
		}
	}

	//	Sizes	 ----------------

	&.-block {
		width: 100%;
		display: block;
	}

	&.-tiny {
		padding: 0 $GUTTER/4;
		font-size: 0.825em; font-weight: bold; line-height: 1.25rem; text-transform: none;
		border-width: 1px; border-radius: 3px;
	}

	&.-mini {
		padding: 0 $GUTTER/2;
		line-height: lines(1.5) - em(4);
		border-width: 2px; border-radius: 3px;
	}

	&.-small {
		padding: 0 $GUTTER/2;
		line-height: lines(1.5) - em(4);
	}

	&.-large {
		// @include font-setting-size( epsilon );
		padding: em(15) $GUTTER em(17); box-sizing: border-box;
		line-height: lines(1);
		border-radius: lines(1.5);

		.icon {
			width: lines(1); height: lines(1);
			// margin-top: em(16);
		}
	}

	&.-huge {
		// @include font-setting-size( delta );
		// padding: 0 $GUTTER*2;
		line-height: lines(3, epsilon) - em(4, epsilon); letter-spacing: 6px; text-indent: 6px;
		border-radius: lines(1.5, epsilon);
	}

	.btn-list & {
		width: 100%;
		margin-bottom: lines(0.5);
	}

	.btn-group & {
		margin-bottom: lines(0.5);
	}

	//	States	 ----------------

	&.-is-success {
		color: $BUTTON_COLOR;
		border-color: #B8E986;
		background-color: #B8E986;
	} 

	&.-is-error {
		color: $BUTTON_COLOR;
		border-color: #FF696C;
		background-color: #FF696C;
	}


	//	Themes	 ----------------
	
	.-theme-light & {
	// 	// color: $COLOR_BRAND_BASE;
	// 	background-color: $COLOR_BRAND_BASE;
	// 	border-color: $COLOR_BRAND_BASE;
	// 	color: $COLOR_WHITE;

	// 	&:hover {
	// 		color: $COLOR_GREY;
	// 		background-color: darken($COLOR_BRAND_BASE, 10);
	// 		border-color: darken($COLOR_BRAND_BASE, 10);
	// 	}

		&.-border {
			color: $COLOR_BRAND_BASE;
			background-color: transparent;

			&:hover {
				color: $COLOR_WHITE;
				background-color: $COLOR_BRAND_BASE;
			}
		}
	}

}



/*
 * 	Media Queries
 *	--------------------------------------------------
 *
 *	- Breakpoints
 *
 *	large-desktop	1920 +
 *	med-desktop 	1680 +
 *	desktop 		1366 +
 *	DEFAULT 		1025 > 1365
 *	tablet-wide		- 1024
 *	tablet			- 768
 *	smartphone-wide	- 640
 *	smartphone		- 480
 *	mobile			- 320
 *
 */


/*
 *	Breakpoint:	tablet-wide 
 *	--------------------------------------------------
 */

@include breakpoint( tablet-wide ) {

	.ui-btn {
		padding-left: $GUTTER/2;
		padding-right: $GUTTER/2;
	}

}


/*
 *	Breakpoint:	smartphone-wide 
 *	--------------------------------------------------
 */

@include breakpoint( smartphone-wide ) {

	.ui-btn {
		.btn-group & {
			width: 100%;
			margin-left: 0;
		}
	}

}