<div class="context container">
	<div class="row -margin-none">
		<div class="col -wide -center">
			<h1>Sign up for SeatFrog</h1>
			<p class="-lead">Get access to last minute upgrades with SeatFrog</p>
		</div>
	</div>
	<div class="row">
		<div class="col -half -center">
			<form>
				<fieldset>
					<label>
						<input type="email" placeholder="Enter your email" class="-large">
					</label>
				</fieldset>
			</form>
			<p><a href="#" class="ui-btn -alt -large" data-hook="context-action-submit">Get early access &rarr;</a></p>
		</div>
	</div>
</div>