<div class="context container">
	<div class="row -margin-none">
		<div class="col -wide -center">
			<h1>Thanks for being one of the first</h1>
			<p class="-lead">Nobody likes to travel alone, share with your friends.</p>
		</div>
	</div>
	<div class="row ui-social-links -large">
		<div class="col -half -center">
			<ul>
				<li><a href="" title="Seatfrog on Facebook"><div class="icon"><svg><use xlink:href="#icon-facebook"></use></svg></div></a></li>
				<li><a href="" title="Seatfrog on Twitter"><div class="icon"><svg><use xlink:href="#icon-twitter"></use></svg></div></a></li>
				<li><a href="" title="Seatfrog on Instagram"><div class="icon"><svg><use xlink:href="#icon-instagram"></use></svg></div></a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col -wide -center">
			<p><a href="#" class="ui-btn -alt -large" data-hook="context-action-submit">Close</a></p>
		</div>
	</div>
</div>