<div class="context">
	<div class="container">
		<div class="row">
			<div class="col -wide -center">
				<h1>Thanks for being one of the&nbsp;first.</h1>
				<p class="-lead">Nobody likes to travel alone, share with your friends.</p>
			</div>
		</div>
		<div class="row share-links">
			<div class="col -wide -center">
				<a href="https://www.facebook.com/sharer/sharer.php?u={url}&display=popup" target="_blank" class="ui-btn -alt -large" data-hook="share" onClick="ga('send', 'event', 'Share', 'Click Button', 'Signup Share - Facebook');"><span class="icon"><svg><use xlink:href="#icon-facebook"></use></svg></span> Share</a>
				<a href="https://twitter.com/intent/tweet?text={text}&url={url}" target="_blank" class="ui-btn -alt -large" data-hook="share" onClick="ga('send', 'event', 'Share', 'Click Button', 'Signup Share - Twitter');"><span class="icon"><svg><use xlink:href="#icon-twitter"></use></svg></span> Share</a>
				<a href="mailto:?subject=Check%20out%20Seatfrog&body=Get%20access%20to%20last-minute%20upgrades%20the%20day%20you%20travel.%20http%3A%2F%2Fseatfrog.com" class="ui-btn -alt -large" onClick="ga('send', 'event', 'Share', 'Click Button', 'Signup Share - Email');"><span class="icon"><svg><use xlink:href="#icon-email"></use></svg></span> Email</a>
			</div>
		</div>
	</div>
</div>