<div class="context container context-airline">
	<div class="row">
		<div class="col -wide -center">
			<h1>Thanks for signing up</h1>
			<p class="-lead">What airline would you like to see on SeatFrog?</p>
		</div>
	</div>
	<div class="row">
		<div class="col -half -center">
			<ul class="unstyled btn-list">
				<li><a href="" class="ui-btn -outline -huge">Qantas</a></li>
				<li><a href="" class="ui-btn -outline -huge">Virgin Australia</a></li>
				<li><a href="" class="ui-btn -outline -huge">Other</a></li>
			</ul>

			<form>
				<fieldset>
					<label>
						<input type="text" placeholder="Name of the airline" class="-large">
					</label>
				</fieldset>
			</form>

			<p><a href="#" class="ui-btn -alt -large" data-hook="context-action-submit">Submit</a></p>
		</div>
	</div>
</div>