<div class="context">
	<div class="container">
		<div class="row">
			<div class="col -wide -center">
				<h1>Thank You</h1>
				<p class="-lead">Your request has been successfully sent and one of our senior team will be in contact shortly.</p>
			</div>
		</div>
	</div>
</div>