<div class="">
	<div class="row">
		<div class="col -wide -center">
			<h1>Download link sent</h1>
			<p class="delta-gamma">Thanks! Please check your mobile phone and follow the download link.</p>
			<p class="delta-gamma">We sent a text to <span class="-color-white" data-hook="sent-number">+44 0000 0000</span></p>
		</div>
	</div>
	<div class="row">
		<div class="col -wide -center download-tryagain">
			<p>Link not received? <a href="#" data-hook="reset">Try again</a></p>
		</div>
	</div>
</div>