<form action="" method="post" id="downloadForm" data-hook="form-download">
	<div class="row">
		<div class="col -full">
			<h1>Download Seatfrog</h1>
			<p class="delta-gamma">Enter your mobile phone number and we&rsquo;ll text you a download link for free.</p>
		</div>
	</div>
	<div class="row">
		<div class="col -wide -center">
			<fieldset data-hook="field-container"></fieldset>
			<input class="ui-btn -alt -large" type="submit" value="Text me the link" />
		</div>
	</div>
	<div class="row">
		<div class="col -wide -center download-links">
			<a href="#"><img src="/assets/img/download-badge-apple.png" /></a>
			<a href="#"><img src="/assets/img/download-badge-android.png" /></a>
		</div>
	</div>
</form>