<section class="footer">
	<div class="container">
		<div class="row">
			<div class="col -half -center">
				<div class="logo"><svg><use xlink:href="#logo"></use></svg></div>
				<h4>Upgrade the day you travel</h4>
			</div>
		</div>

		<div class="row footer-nav">
			<div class="col -full">
				<nav>
					<ul>
						<li{{#is view "home"}} class="-is-active"{{/is}}><a href="/">How it works</a></li>
						<li{{#is view "pwu"}} class="-is-active"{{/is}}><a href="/partner-with-seatfrog.html">Partner with us</a></li>
						<li{{#is view "virgin"}} class="-is-active"{{/is}}><a href="/lner.html">London North Eastern Railway</a></li>
						<li><a href="http://help.seatfrog.com" target="_blank" title="Help">Help</a></li>
						<li{{#is view "careers"}} class="-is-active"{{/is}}><a href="/jobs-at-seatfrog.html">Join the team</a></li>
						<li{{#is view "about"}} class="-is-active"{{/is}}><a href="/about-seatfrog.html">About</a></li>
						<li{{#is view "pressroom"}} class="-is-active"{{/is}}><a href="/pressroom.html">Press</a></li>
						<li{{#is view "contact"}} class="-is-active"{{/is}}><a href="mailto:info@seatfrog.com" onClick="ga('send', 'event', 'Enquiry', 'Click', 'Footer Contact Link')">Contact</a></li>
					</ul>
				</nav>
			</div>
		</div>

		<div class="row footer-sub">
			<div class="col -full">

				<div class="ui-social-links -small">
					{{> social-links }}
				</div>

				<p class="eta">&copy; 2018 Seatfrog. All Rights Reserved.<br /><a href="/privacy.html"">Privacy</a> | <a href="/terms.html">Terms</a></p>
					
			</div>
		</div>
	</div>
</section>