<section class="footer -simple">
	<div class="container">
		<div class="row -margin-none">
			<div class="col -full">
				<p class="zeta"><span class="logo"><svg><use xlink:href="#logo"></use></svg></span> &copy; Copyright 2018 Seatfrog &nbsp;&nbsp;|&nbsp;&nbsp; 155 Clarence Street Sydney. NSW 2000 Australia &nbsp;&nbsp;|&nbsp;&nbsp; <a href="/" title="Seatfrog Main Website">Seatfrog Main Website</a></p>
			</div>
		</div>
	</div>
</section>