<section class="footer">
	<div class="container">
		<div class="row">
			<div class="col -half -center">
				<div class="logo"><svg><use xlink:href="#logo"></use></svg></div>
				<h4>Upgrade the day you fly</h4>
			</div>
		</div>

		<div class="row footer-nav">
			<div class="col -full">
				<nav>
					<ul>
						<li{{#is view "home"}} class="-is-active"{{/is}}><a href="/">How it works</a></li>
						<li{{#is view "airlines"}} class="-is-active"{{/is}}><a href="/airlines.html">Partner with us</a></li>
						{{!-- <li{{#is view "pressroom"}} class="-is-active"{{/is}}><a href="/pressroom.html">Pressroom</a></li> --}}
						<li{{#is view "about"}} class="-is-active"{{/is}}><a href="/about.html">About</a></li>
						<li{{#is view "careers"}} class="-is-active"{{/is}}><a href="/careers.html">Join the team</a></li>
						<li{{#is view "pressroom"}} class="-is-active"{{/is}}><a href="/pressroom.html">Press</a></li>
						<li{{#is view "contact"}} class="-is-active"{{/is}}><a href="mailto:info@seatfrog.com">Contact</a></li>
					</ul>
				</nav>
			</div>
		</div>

		<div class="row footer-sub">
			<div class="col -full">

				<div class="ui-social-links -small">
					{{> social-links }}
				</div>

				<p class="eta">&copy; 2016 Seatfrog. All Rights Reserved.<br /><a href="/privacy.html"">Privacy</a> | <a href="/terms.html">Terms</a></p>
					
			</div>
		</div>
	</div>
</section>