<header class="outline-header" data-region="header">
	<section class="header">

		<div class="row">
			<div class="col -half header-logo" data-hook="logo">
				<a href="#" class="menu" data-hook="open-menu"><svg><use xlink:href="#icon-menu"></use></svg><svg><use xlink:href="#icon-close"></use></svg></a>
				<a href="/" class="logo"><span><svg><use xlink:href="#logo"></use></svg><span class="title">Seatfrog</span></a>
			</div>
			<div class="col -half header-nav">
				<nav>
					<ul>
						<li{{#is view "home"}} class="-is-active"{{/is}}><a href="/">How it works</a></li>
						<li{{#is view "pwu"}} class="-is-active"{{/is}}><a href="/partner-with-seatfrog.html">Partner with us</a></li>
						<li class="cta"><a href="/download.html" class="ui-btn -alt -border" target="_blank">Download</a></li>
					</ul>
				</nav>
			</div>
		</div>

	</section>

	<div class="header-menu" data-hook="header-menu">
		<div class="container">
			<div class="row">
				<div class="col -half -left menu-items">
					<div class="header-menu_cta">
						<p><a href="#" class="ui-btn -alt" data-hook="open-sign-up" onClick="ga('send', 'event', 'Signup', 'Show Form', 'Menu Navigation Button');">Sign up</a></p>
						<p class="header-menu_cta_info zeta">Stay up-to-date with all the latest upgrade news</p>
					</div>
					
					<nav class="header-menu_primary">
						<ul>
							<li{{#is view "home"}} class="-is-active"{{/is}}><a href="/">How it works</a></li>
							<li{{#is view "pwu"}} class="-is-active"{{/is}}><a href="/partner-with-seatfrog.html">Partner with us</a></li>
							<li><a href="http://help.seatfrog.com" target="_blank" title="Help">Help</a></li>
						</ul>
					</nav>
					<nav class="header-menu_secondary">
						<ul>
							<li{{#is view "careers"}} class="-is-active"{{/is}}><a href="/jobs-at-seatfrog.html">Join the team</a></li>
							<li{{#is view "virgin"}} class="-is-active"{{/is}}><a href="/lner.html">London North Eastern Railway</a></li>
							<li{{#is view "about"}} class="-is-active"{{/is}}><a href="/about-seatfrog.html">About</a></li>
							<li{{#is view "pressroom"}} class="-is-active"{{/is}}><a href="/pressroom.html">Press</a></li>
							<li{{#is view "contact"}} class="-is-active"{{/is}}><a href="mailto:info@seatfrog.com" onClick="ga('send', 'event', 'Enquiry', 'Click', 'Menu Contact Link')">Contact</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="row ui-social-links">
				<div class="col -half">
					{{> social-links }}
				</div>
			</div>
		</div>
	</div>
	<div class="header-menu-bg" data-hook="header-menu-bg"></div>
	<div class="page-context">
		<div class="context-actions">
			<a href="#" class="ui-btn -alt -border" data-hook="close-context">Close <span class="close-icon"><svg><use xlink:href="#icon-close"></use></svg></span></a>
		</div>
		<div class="context-viewport" data-hook="page-context"></div>
	</div>
	<div class="page-overlay" data-hook="page-overlay"></div>

</header>