<header class="outline-header" data-region="header">
	<section class="header">

		<div class="row">
			<div class="col -half header-logo" data-hook="logo">
				<a href="/" class="logo"><span><svg><use xlink:href="#logo"></use></svg><span class="title">Seatfrog</span></a>
				<span class="logo-virgin"><img src="/assets/img/logo-virgin-trains-w.png" /></span>
			</div>
			<div class="col -half header-nav">
				<nav>
					<ul>
						<li class="cta"><a href="/download.html" class="ui-btn -alt -border" target="_blank" onClick="ga('send', 'event', 'Download', 'Click Button', 'VTEC - Header - Download')">Download</a></li>
					</ul>
				</nav>
			</div>
		</div>

	</section>
</header>