<ul>
	<li><a href="https://www.facebook.com/SeatFrog" title="Seatfrog on Facebook" target="_blank"><div class="icon"><svg><use xlink:href="#icon-facebook"></use></svg></div></a></li>
	<li><a href="https://twitter.com/seatfrog" title="Seatfrog on Twitter" target="_blank"><div class="icon"><svg><use xlink:href="#icon-twitter"></use></svg></div></a></li>
	<li><a href="https://www.instagram.com/SeatFrog/" title="Seatfrog on Instagram" target="_blank"><div class="icon"><svg><use xlink:href="#icon-instagram"></use></svg></div></a></li>
</ul>